html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: black; /* ou a cor que você quiser como fundo */
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0; /* garante que nenhum elemento tenha borda */
}

/* Resetando margens e preenchimento para todos os elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: #333;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 20px;
  background-color: white;
  border-radius: 0; /* se quiser sem bordas arredondadas */
  
}


h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}
